@using Models
@model SessionResponse

@if (Model.Hosts != null && Model.Hosts.Any())
{
    <div class="Host">

        <b>Hosts: </b>
        <a>@Model.GetHostsBeautyfied()</a>
    </div>
}

<div class="Location">
    <b>Location: </b>
    <span>@Model.Location.GetFullInfo</span>
</div>