@page 
@model IndexModel
@using System.Globalization;
@{
    ViewData["Title"] = "Home page";
}

<div class="Search">
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search"  class="form-control" value="@Model.SearchTerm" asp-for="SearchTerm" placeholder="Type to search" />
                <span class="input-group-append"> 
                    <button class="btn btn-light btn-outline-primary">
                        <i class="oi oi-magnifying-glass"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>

<div class="Conferences">
        <h1>Conference List</h1>
    <div class="input-group">
        <a asp-page="/Conference/Add" class="btn btn-secondary oi oi-plus d-flex justify-content-center align-items-center"></a>
    </div>

    @foreach (var conf in Model.Conferences)
    {
        <div class="col-md-4 mx-auto p-2">
            <partial name="Conference/_Conference_Card" model="conf" />
        </div>

    }

</div>
