@using Models
@using System.Globalization;

@model ConferenceResponse


<div class="col-md-3 mb-4">
    <div class="card shadow session h-auto">

        <div class="card-header">
            <h5 class="card-title"><a asp-page="Conference/Index" asp-route-conference_id="@Model.ID">@Model.Name</a></h5>
        </div>

        <div class="card-body text-center">
            <h7>@Model.Start_Date.ToString(@"d.MM.yyyy", CultureInfo.InvariantCulture) - @Model.End_Date.ToString(@"d.MM.yyyy", CultureInfo.InvariantCulture) </h7>
        </div>
    </div>
</div>
