@page "{conference_id:int}"
@model FrontEnd.Pages.Conference.IndexModel
@using System.Globalization;
@{
    ViewData["Title"] = "Index";
}

    <div class="Sessions">

        <h1>@Model.conference.Name</h1>
        <a asp-page="/Session/Add" asp-route-conference_id="@Model.conference.ID" class="btn btn-secondary oi oi-plus"></a>
        <a asp-page="/Conference/Delete" asp-route-conference_id="@Model.conference.ID" class="btn btn-danger oi oi-trash"></a>
        <div id="accordion">

            @foreach (var session in Model.Sessions)
            {
                <partial name="Session/_Session_Card" model="session" />
            }

        </div>

    </div>
