@page
@model FrontEnd.Pages.MyAgenda.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>My Agenda</h1>


@if (Model.Entry != null && Model.Entry.Any())
{

    @foreach (var item in Model.Entry)
    {
        <div class="conf">
            <h2><a asp-page="/Conference/Index" asp-route-conference_id="@item.Conference.ID">@item.Conference.Name:</a></h2>

            @foreach (var session in item.Sessions)
            {
                <div id="accordion">
                    <div class="card">
                        <partial name="Session/Card/_Session_Card_Header" model="session" />

                        <div id="collapse-@session.ID" class="collapse" aria-labelledby="heading-@session.ID" data-parent="#accordion">
                            <div class="card-body p-1">
                                <partial name="Session/Card/_Session_Card_BodyDetails" model="session" />

                                @if (session.Talks != null && session.Talks.Any())
                                {
                                    <div class="Talks">

                                        <div class="card">
                                            <div class="d-flex flex-column ro">
                                                @foreach (var talk in session.Talks)
                                                {
                                                    <div class="d-flex flex-row ro-content border-bottom" id="@talk.ID">
                                                        @if (User.Identity.IsAuthenticated)
                                                        {
                                                            <div class="ro-content my-auto">
                                                                <button type="submit" class="btn oi oi-minus" onclick="del(@talk.ID);" />
                                                            </div>
                                                        }
                                                        <partial name="Talk/Card/_Talk_Card" model="talk" />

                                                    </div>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>
    }
    <hr/>
}


@section Scripts {
    <script>
        function del(talkId) {
            $.ajax({
                url: '/MyAgenda/Delete',
                data: {
                    talkID: talkId
                }
            }).done(function (result) {
                var talkParent = $("#" + talkId).parent();
                var accord = talkParent.closest("#accordion");
                var conf = accord.parent();

                $('#' + talkId).remove();

                if (accord.find(".ro").text().trim().length < 10) {
                    accord.remove();
                }
                if (conf.text().trim().length < 20) {
                    conf.remove();
                }
              
            })
        }
    </script>

    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
